{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit Expense</h3><hr>
      <form method='post' action='{{url_for("edit",uid=row.CourseID)}}'>
        <div class='form-group'>
          <label>Course ID</label>
          <input type='number' id="course" name='course' required class='form-control' value="{{row.CourseID}}" readonly>
        </div>

        <div class='form-group'>
          <label>Subject</label>
          <input type='text' id="subject" name='subject' required class='form-control' value="{{row.Subject}}">
        </div>

        <div class='form-group'>
            <label>Total Hours</label>
            <input type='number' id="total" name='total' required class='form-control' value="{{row.totalHours}}">
        </div>

        <div class='form-group'>
          <label>Bunked Hours</label>
          <input type='number' id="bunked" name='bunked' required class='form-control' value="{{row.bunkedHours}}">
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}