<html>
  <head>
    <title>Bunk Master | HOME </title>

    <link rel="icon" type="image/x-icon" href="/static/images/Bunk Master-3.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <style>
      h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
      }

      h1.thick, h2.thick, h3.thick, h4.thick, h5.thick, h6.thick {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }

      h1.thicker, h2.thicker, h3.thicker, h4.thicker, h5.thicker, h6.thicker {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid" style="background-color: #e9e6e0;">
      <br>
      <a href="/">
        <img src="/static/images/Bunk Master-1.png" class="rounded-circle img-thumbnail img-fluid mx-auto d-block" style="width:18%" alt="BunkMaster"> 
      </a>
      <br>
    </div>

    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center text-center" style="background-color: #000000; color:whitesmoke">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <b>
              HOME &nbsp;&nbsp;
            </b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/limit">Change Minimum %</a>
        </li>
      </ul>
    </nav>

    <div class='container pt-3 justify-content-center'>
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <br>

      {% with messages=text %}
         {% if messages %} 
          <br>
          <br>
          
          <kbd style="text-align: center" class="mx-auto d-block">
            <h3>
              {{messages}}
            </h3>
          </kbd>
        {% endif %}
      {% endwith %}
      
      <div class="container text-center center mx-auto d-block">
        <button type="button" class="btn btn-{{color}} text-center center mx-auto d-block"><h3>Current Attendance: {{percent}}%</h3></button>
      </div>

      <br>
      <br>
      <h4 class="thicker">Bunkable Classes and Hours</h4> 
      <br>    
      <div class="row center">
        <div class="col-sm-10">
          <div class='table-responsive-lg'>
            <table class='table table-bordered table-striped text-center'>
              <thead style="color:whitesmoke;" class="table-dark text-center">
                <th>CourseID</th>
                <th>Subject</th>
                <th>Bunked Hours</th>
              </thead>
              <tbody>
                {% for row in datas%} 
                  <tr>
                    <td>{{row.CourseID}}</td>
                    <td>{{row.Subject}}</td>
                    <td>{{row.bunkedHours}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-2">
          <table class='table table-bordered table-striped text-center'>
            <thead style="color:whitesmoke;" class="table-dark text-center">
              <th>Remaining Hours</th>
            </thead>
            <tbody>
              {% for bunkable in bunk%}
                <tr>
                  <td>{{bunkable}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
      </div>
    
      <br>

      <div class='table-responsive-xxl container'>
        <h4 class="thicker">Course Details</h4>
        <table class='table table-bordered table-striped table-lg'>
          <thead class="table-dark text-center" style="color: whitesmoke;">
            <th>CourseID</th>
            <th>Subject</th>
            <th>Total</th>
            <th>Bunked</th>
            <th>+/- Total</th>
            <th>+/- Bunked</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>

          <tbody>
            {% for row in datas %}
              <tr>
                <td>{{row.CourseID}}</td>
                <td>{{row.Subject}}</td>

                <td>{{row.totalHours}}</td>
                <td>{{row.bunkedHours}}</td>

                <td class="center text-center">
                  <a href='{{url_for("plusConducted",uid=row.CourseID)}}' class='btn btn-success'>+ Conducted</a>
                  <a href='{{url_for("minusConducted",uid=row.CourseID)}}' class='btn btn-info'>- Conducted</a>
                </td>
                
                <td class="center text-center">
                  <a href='{{url_for("plusHour",uid=row.CourseID)}}' class='btn btn-success'>+ Bunked</a>
                  <a href='{{url_for("minusHour",uid=row.CourseID)}}' class='btn btn-info'>- Bunked</a>
                </td>

                <td class="center text-center"><a href='{{url_for("edit",uid=row.CourseID)}}' class='btn btn-primary'>Edit</a></td>
                <td class="center text-center"><a href='{{url_for("delete",uid=row.CourseID)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
        <br>
        <p class='text-left'><a href='{{url_for("add")}}' class='btn btn-dark '>+ Add New Course</a></p>
      </div>
    </div>
  </body>
</html>